<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Full Stack Developer</title>
    <link rel="stylesheet" href="../Static/assets/styles/fullstack.css">
</head>
<body>
    <header>
        <h1>Perfil Full Stack Developer</h1>
    </header>

    <section id="descripcion">
        <h2>SOBRE MI</h2>
        <p>Soy un "aprendis programador" de desarrollador Full Stack en formación, apasionado por crear soluciones web tanto en el frontend como en el backend.</p>
    </section>

    <section id="fullstack">
        <h2>Especialidad Full Stack</h2>
        <button class="fullstack-btn">Full Stack</button>
    </section>
</section>
<footer>
    <p>Contacto - 320 472 7417</p>
    <p>E-mail: jadmarqdg@gmail.com </p>
    <p>© 2024 </p>
</footer>   
</section> 
</body>
</html>