<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quién Soy</title>
    <link rel="stylesheet" href="../Static/assets/styles/quiensoy.css">
</head>
<body>
</main>
<section class="portafolio">
    <div class="arquitecto">
       <header>
            <h1>Soy Jesus Duran Martinez </h1>
        </header>
<section class="descripcion" >
    <h2>Programador/Arquitecto/Diseñador/</h2>
    <p>Soy un arquitecto dinámico y altamente creativo, Futuro Programador con una pasión incansable por la excelencia profesional. 
        Graduado de la Universidad de Pamplona en el año 2019, poseo una sólida formación que respalda mi capacidad para abordar una 
        amplia gama de desafíos en el campo de la arquitectura.
        
        Mi enfoque se centra en trabajar de manera colaborativa, reconociendo las necesidades y oportunidades de cada proyecto arquitectónico. 
        Mi habilidad para modelar tanto espacios exteriores como interiores, siempre cumpliendo con las normativas técnicas de paisajismo y urbanismo, 
        garantiza la creación de ambientes funcionales y estéticamente atractivos.
        
        Además, cuento con una sólida competencia en dibujo arquitectónico. Mi dominio de programas de diseño arquitectónico y suites Adobe me permite 
        materializar ideas con precisión y sofisticación.
        
        Estoy comprometido con la excelencia en cada proyecto que emprendo, y mi dedicación a la innovación y la calidad me distingue como un arquitecto 
        preparado para superar cualquier desafío con éxito.</p>
    </section>

</section>
</main>
</section>
<footer>
    <p>Contacto - 320 472 7417</p>
    <p>E-mail: jadmarqdg@gmail.com </p>
    <p>© 2024 </p>
</footer>   
</section> 
</body>
</html>