<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../Static/assets/styles/servicios.css">
</head>
<body>
    <main>
<section>
<!-- Sección de Videos Youtube -->
      <section>
          <h1>Recorridos Virtuales</h1>
          <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/n3EeW6fXFNA?si=bWAvJ4qWh2WwZY7N" 
              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
              encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <p>Diseño de Cocina Ideal</p>
          </div>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KjpQeUabknU?si=b1ZeDL8CDZ_jfIlS" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <p>Consejos para un Cuarto Gamer pequeño</p>
          </div>
      </section>
<!-- Sección de Imágenes -->
      <section>
                       <h1>Render de alta calidad</h1>
              <div class="image-container">
              <img src= "../Static/assets/img/habitacion.jpg" alt="foto habitacion" >
            </div>
              <p>Habitación Principal</p>
              <div class="image-container">
              <img src="../Static/assets/img/cocina.jpg" alt="foto cocina"  > 
            </div>
              <p>Cocina</p>                  
          <div class="image-container">
              <img src="../Static/assets/img/fachada frontal.jpg" alt="foto fachada l" >
            </div>
              <p>fachada lateral</p>
              <div class="image-container">
              <img src="../Static/assets/img/fachada lateral.jpg" alt="foto fachadra f">
                             </div>
                             <p>fachada frontal</p>
                 </section>
                </main>
                
                 <section>
                    <footer>
                        <p>Contacto - 320 472 7417</p>
                        <p>E-mail: jadmarqdg@gmail.com </p>
                        <p>© 2024 </p>
                    </footer>  
                </section>  

    
</body>
</html>